<h1>Explore All Investments:</h1>

<table style="width:100%">
  <tr>
    <th align="left">Fund:</th>
    <th align="left">Quantity:</th>
    <th align="left">Price:</th>
    <th align="left">Created By:</th>
    <th align="left">Date Created:</th>
  </tr>
  <% @investments.order(created_at: :desc).each do |investment| %>
    <tr>
      <td><%= investment.fund.symbol%></td>
      <td><%= investment.quantity%></td>
      <td><%= investment.price%></td>
      <td><%= investment.user.username %></td>
      <td><%= investment.created_at.strftime("%m/%d/%Y") %></td>
        <tr>
    <% end %>
</table>

<br>
