<h1>Explore All Investments:</h1>

<ul>
<% @investments.each do |investment| %>
  <li><%= investment.fund.symbol %></li>
  <li><%= investment.quantity %></li>
  <li><%= investment.price %></li>
  <li><%= investment.user.username %></li>
  <li><%= investment.created_at %></li>
<% end %>
</ul>

<br>
