<div id="errors">
  <h4><%= flash[:notice] %></h4>
</div>


<h1>Sign In:</h1>

<%= form_tag('/signin') do %>
  <%= label_tag :username, 'Username:' %>
  <%= text_field_tag :username %><br>

  <%= label_tag :name, 'Password:' %>
  <%= password_field_tag :password %><br>
  <br>
  <%= submit_tag "Sign In" %>
<%end%>
