<h1>Portfolio Name: <%= @portfolio.name %></h1>
<h2>Created By: <%= link to @portfolio.username, user_path(@portfolio.user) %></h2>
<br>
<p>Strategy: <%= @portfolio.strategy %></p>

<div>
  <h4>Portfolio Funds:</h4>
  <% @portfolio.funds.each do |fund| %>
    <%= fund.symbol %>
    <%= fund.type %>
  <% end %>

<br>
<%= link_to 'All Portfolios', portfolios_path %>
