<h1>Sign Up:</h1>

<%= form_tag('/users', method: :post) do %>
  <%= label_tag :email, 'Your Email:' %>
  <%= email_field_tag("user", "email") %><br>

  <%= label_tag :name, 'Your Name:' %>
  <%= text_field_tag :name %><br>

  <%= label_tag :name, 'Your Password:' %>
  <%= password_field_tag :password %><br>

  <%= submit_tag "Sign Up" %>
<%end%>
