<% if @user.errors.any? %>
  <div id="errors">
    <h4>
      Error:
    </h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Sign Up:</h1>

<%= form_for @user do |f|%>
  <%= f.label :email, "Email:" %><br>
  <%= f.email_field :email %><br>

  <%= f.label :name, "Name:" %><br>
  <%= f.email_field :name %><br>

  <%= f.label :username, "Username:" %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password, "Password:"%><br>
  <%= f.password_field :password%><br>

  <%= submit_tag "Sign Up" %>
<%end%>
