<h1>User: <%= @user.username %></h1>

<h3>Portfolios:</h3>

<% if !@user.portfolios.empty? %>
  <% @user.portfolios.each do |portfolio| %>
    <p>Name: <%= portfolio.name %></p>
    <p>Strategy: <%= portfolio.strategy %></p>
  <% end %>
<% end %>

<br>
<%= link_to "Create New Portfolio", new_user_portfolio_path(@user) %><br>
<br>
<%= link_to "See All Portfolios", portfolios_path%></p>
