<h1>Hello, <%= @user.name %>!</h1>

<h3>Your Funds:</h3>
<div>
  <% @user.funds.order(created_at: :desc).each do |fund| %>
    <p>Name: <%= fund.fund_name%></p>
    <p>Industry: <%= fund.industry%></p>
    <p>Strategy: <%= fund.strategy%></p>
    <p>Investments:</p>
      <ul>
      <% if has_investments(fund) %>
        <% fund.investments.each do |investment| %>
          <li><%= investment.symbol %></li>
        <% end %>
      <% end %>
      </ul>
      <br>
    <% end %>
</div>

<br>
