<h1>Hello, <%= @user.name %>!</h1>

<h3>Your Funds:</h3>
<ul>
  <% @user.funds.uniq.each do |fund| %>
    <li><%= fund.symbol %></li>
  <% end %>
</ul>
<br>

<h3>Your Investments:</h3>
<div>
  <% @user.investments.order(created_at: :desc).each do |investment| %>
    <p>Fund: <%= investment.fund.symbol%></p>
    <p>Quantity: <%= investment.quantity%></p>
    <p>Price: <%= investment.price%></p>
    <p>Date Created: <%= investment.created_at %></p>
    <br>
    <% end %>
</div>

<br>
