<h1>Asset Name: <%= @asset.name %></h1>
<h2>Created By: <%= link to @asset.username, user_path(@asset.user) %></h2>
<br>
<p>Strategy: <%= @asset.strategy %></p>

<div>
  <h4>Asset Funds:</h4>
  <% @asset.funds.each do |fund| %>
    <%= fund.symbol %>
    <%= fund.type %>
  <% end %>

<br>
<%= link_to 'All Assets', assets_path %>
