<h1>Create A New Fund:</h1>

<%=form_for([@user, @fund]) do |f|%>

  <%=f.label :name, "Name:" %>
  <%=f.text_field :name %><br>

  <%=f.label :industry, "Industry:"%>
  <%=f.text_field :industry %><br>

  <%=f.label :strategy, "Strategy:"%>
  <%=f.text_area :strategy %><br>

  <h3>Select An Existing Investment:</h3>

  <%= f.collection_check_boxes :investment_ids, Investment.all, :id, :symbol %><br>

  <h3>Or Add Your Own Investment:</h3>

  <%= f.fields_for :investments, @fund.investments.build do |investments_field| %>
    <%= investments_field.text_field :symbol %>
  <% end %><br>

  <%=f.submit %><br>
<%end%>
