<h1>Create A New Fund:</h1>

<%=form_for([@user, @fund]) do |f|%>

  <%=f.label :name, "Name:" %>
  <%=f.text_field :name %><br>

  <%=f.label :industry, "Industry:"%>
  <%=f.text_field :industry %><br>

  <%=f.label :strategy, "Strategy:"%>
  <%=f.text_area :strategy %><br>

  <h3>Add Your First Asset:</h3>
  <%=f.fields_for :new_asset, @fund.assets.build do |asset_field|%>
    <%=asset_field.label :symbol, "Asset Symbol:"%>
    <%=asset_field.text_field :symbol %><br>
  <%end%>

  <h3>Or Select An Existing Asset:</h3>

  <%=f.label :assets, "Select Asset:"%>
  <%=f.collection_select :assets, Asset.all, :symbol, :symbol, include_blank: true%><br><br>

  <%=f.submit %><br>
<%end%>
