<h1>Add a Fund:</h1>

<%=form_for([user, fund]) do |f|%>
  <%= f.hidden_field :user_id %>

  <%=f.label :name, "Symbol:" %>
  <%=f.text_field :name %><br>

  <%=f.label :industry, "Industry:"%>
  <%=f.text_field :industry %><br>

  <%=f.label :strategy, "Strategy:"%>
  <%=f.text_area :strategy %><br>

  <%=f.fields_for :assets, fund.assets.build do |asset_field|%>
    <%=asset_field.label :symbol, "Add Your First Asset:"%>
    <%=f.label :strategy, "Strategy:"%>
    <%=asset_field.text_field :symbol%><br>
  <%end%>

  <%=f.label :asset, "Or Select An Existing Asset:"%>
  <%=f.collection_select :asset, Asset.all, :symbol, :symbol, include_blank: true%><br>

  <%=f.submit %><br>
<%end%>
