<h1>Add a Fund:</h1>

<%=form_for @fund do |f|%>

  <%=f.label :symbol, "Symbol:" %>
  <%=f.text_field :symbol %>

  <%=f.label :type, "Industry:"%>
  <%=f.text_field :type %>

  <%=f.label :type, "Strategy:"%>
  <%=f.text_area :type %>

  <%=f.submit %><br>
<%end%>
