<h1>Add a Fund:</h1>

<%=form_for([@user, @user.funds.build]) do |f|%>

  <%=f.label :name, "Symbol:" %>
  <%=f.text_field :name %><br>

  <%=f.label :industry, "Industry:"%>
  <%=f.text_field :industry %><br>

  <%=f.label :strategy, "Strategy:"%>
  <%=f.text_area :strategy %><br>

  <%=f.fields_for :asset, fund.build_asset do |asset_field|%>
    <%=cat_field.label :name, "Add Your First Asset:"%>
    <%=cat_field.text_field :name%><br>
  <%end%>

  <%=f.label :asset, "Or Select An Existing Asset:"%>
  <%=f.collection_select :asset, Asset.all, :symbol, :symbol, include_blank: true%><br>

  <%=f.submit %><br>
<%end%>
