<h1>Fund:<%= @fund.fund_name %></h1>
<h3>Industry:<%= fund.industry %></h3>
<h3>Strategy:<%= fund.strategy %></h3><br><br>

<h4>Investments:</h4>
<ul>
<% @fund.investments.each do |investment| %>
  <li><%= @fund.symbol %></li>
<% end %>
</ul>

<%= link_to 'All Funds', funds_path %>
