<!DOCTYPE html>
<html>
  <head>
    <title>I.nvest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <br>
    <% if sign_in? %>
      <div id="navbar">
        <%= button_to "My Investments", user_path(current_user), method: :get, class: 'float-button' %>
        <%= button_to "New Investment", new_user_investment_path(current_user), method: :get, class: 'float-button' %>
        <%= button_to "See All Funds", user_funds_path(current_user), method: :get, class: 'float-button' %>
        <%= button_to "Top Funds", top_funds_path, method: :get, class: 'float-button' %>
        <%= button_to "All Users", users_path, method: :get, class: 'float-button' %>
        <%= button_to "My Account", edit_user_path(current_user), method: :get, class: 'float-button' %>
        <%= button_to "Sign Out", signout_path, method: :get, class: 'float-button' %>
      </div>
    <%end%>
  </footer>
</html>
