<!DOCTYPE html>
<html>
  <head>
    <title>I.nvest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <% if logged_in? %>
      <div class="navbar">
        <%= link_to "My Profile", user_path(current_user) %>
        <%= link_to "New Fund", new_user_fund_path(current_user) %>
        <%= link_to "See All Funds", funds_path %>
        <%= link_to "Explore All Investments", investments_path %>
        <%= link_to "Top Investments", top_investments_path %>
        <%= link_to "Sign Out", signout_path %>
      </div>
    <%end%>
  </footer>
</html>
